<div class="form">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit "Create", class: "btn-medium" %>
  <% end %>

  <%= link_to "", cocktails_path, class: "btn-medium fa fa-home"  %>
</div>
