<h1><%= @cocktail.name %></h1>
<ul>
  <% @cocktail.doses.each do |dose|%>
  <li><%= dose.ingredient.name%></li>
  <li><%= link_to "delete", cocktail_dose_path(@cocktail, dose), method: :delete  %></li>

  <%end%>
</ul>
<%= link_to "+", new_cocktail_dose_path(@cocktail), class: "btn-medium" %>

<%= link_to "", root_path, class: "btn-medium fa fa-home" %>
<%= link_to "delete cocktail", cocktail_path(@cocktail), method: :delete  %>
